<!doctype html>
<html>
  <body style="font-family: Arial, sans-serif;">
    <h2>Bienvenue 🎉</h2>
    <p>Bonjour {{name}},</p>
    <p>Votre compte a été créé avec succès. Sur Student Management, vous pourrez gérer vos informations personnelles.</p>
    <p> nom d'utiliateur: {{username}}</p>
    <p> mot de passe: {{password}}</p>
    <p> nous vous recommandons de changer votre mot de passe après votre première connexion.</p>
    <p>Nous sommes ravis de vous avoir parmi nous !</p>
    <p>Connexion : <a href="{{loginLink}}">Se connecter</a></p>
  </body>
</html>
